ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 80px;
  height: 80px;
}

.navbar-custom 
{
  background-color: #bfbfbf;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
  width: 230px;
  height: 60px;
}

body {
  background-color: #f8f9fa;
}

.card {
  padding: 1rem;
  margin-left: 1rem;
  background-color: #d1d1d1;
}

.card-prodotto
{
  padding: 1rem;
  margin-left: 1rem;
}

.list-group-item {
  background-color: #d9d9d9;
  border-color: #dee2e6;
}

.img-thumbnail {
  max-width: 100px;
  height: auto;
}

.btn-custom-rimuovi
{
  font-size: 14px;
  padding: 6px 12px;
  margin-left: 10px;
  border-color: #ed2704;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.btn-custom-rimuovi:hover
{
  border-color: #ed2704;
  background-color: #ed2704;
  color: rgb(255, 253, 253);
}

.btn-custom-carrello 
{
  font-size: 14px;
  padding: 6px 14px;
  margin-left: 10px;
  background-color: #ffff;
  border-color: #149449;
  color: #000000;
}

.btn-custom-carrello:hover
{
  border-color: #149449;
  background-color: #149449;
  color: #ffff;
}